<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.hackday.mashmur">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:icon="@drawable/icon" android:label="mashmur" android:debuggable="true">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".DashboardActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".QrCallerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NearestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FavActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PoiListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PoiShowActivity" android:screenOrientation="portrait"/>
    </application>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
</manifest>
